@font-face {
    font-family: spaceInvaders;
    src: url(Cybrpnuk2.ttf);
  }


body{
    background-image: url("https://www.wallpaperbetter.com/wallpaper/816/251/630/space-universe-planets-dark-background-stars-uncountable-abstract-1080P-wallpaper.jpg");
}

canvas{
    border-left: 2px solid white;
    border-right: 2px solid white;
}

canvas:hover{
    cursor: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-family: spaceInvaders;
    font-size: 3em;
    color:white;
}





